/*Mobile first and then use Media Query for larger screens like tablet and desktops */

@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

*{
    padding: 0px;
    margin: 0px;
    border:0;
}
body {
    background-color: grey;
    color: var(--black);
    font-size: 16px;
    font-family: Arial, Helvectica, sans-serif;
}

:root {
    --white: #fff;
    --maroon: maroon;
    --black: black;
    --red: red;
}

/**** This section before the media query is mobile phone view  ******/

header h1 {
    font-size: 150%;
}
.position_header_title {
    background-color: var(--maroon);
    padding: 12px 12px 12px 18px;
    margin: 15px 0px 10px 0px;
    border: 1px solid var(--black);
    height: 23px;
    width: 320px;
    text-align: left;
    font-size: 75%;
}

/* navigation and menu styling */
nav {
    width: 320px;
    border-bottom: 10px;
}
nav ul {
    width: 352px;
    list-style-type: none;
    text-align: center;
    text-decoration: none;
    display: none;
}
nav li {
    background-color: var(--maroon);
    color: var(--white);
    padding: 14px;
    text-align:  center;
    border-bottom: 1px solid var(--black);
    transition: background-color 0.2s;
}
nav li > a{
    text-decoration: none;
    color: var(--white);
    font-size: 15px;
}
nav ul li:hover {
    background-color: var(--black);
}
.active {
    border-bottom: 2px solid var(--black);
}

.burger_menu {
    position: absolute;
    margin: 0px 10px 35px 35px;
    font-size: 25px;
    display: block;
    float: right;
    cursor: pointer;
    top: 20px;
    right: 0;
    color: var(--white);
}
#toggle:checked + #menu {
    display: block;
}
#toggle {
    display: none;
}


img{
    max-width: 80%;
    max-height: 80%;
    display: block;
}

/* Home page styling */
.bio {
    width: 230px;
    margin-top: 20px;
    margin-left: 40px;
}
.bio h4{
        font-size: 85%;
        margin-bottom: 10px;
        font-family: Abril;
}
.bio p {
    font-size: 65%;
    overflow-wrap: break-word;
    margin-top: 5px;
    margin-bottom: 5px;
}
.bio span{
    font-weight: bold;
    font-size: 60%;
}
.band_pic{
    padding-top: 1px;
    margin-top: 1px;
}
.band_pic img{
    position: relative;
    text-align: center;
    display: block;
    margin-top: 2px;
    margin-left: 38px;
    max-width: 250px;
    max-height: 250px;
    padding-bottom: 1px;
    margin-bottom: 1px;
}

/* Live samples page styling */
#video-list {
    text-align: center;
    margin-top: 10px;
}
iframe {
    border: 1px solid var(--red);
    font-size: 70%;
    width: 270px;
    height: 200px;
}
.position-videolist
{
    padding-left: 0px;
    margin-left: 0px;
}
.item-video{
    padding: 1%;
}
.ToFindOut{
    padding-left: 20px;
}
.ToFindOut > p {
    padding-top: 10px;
    padding-left: 2px;
    font-size: 60%;
    text-align: left;
    margin-left: 2px;
}
.ToFindOut a:link {
  color: var(--maroon);
}
.ToFindOut a:visited {
  color: var(--maroon);
}

/* Page Footer Styling */
footer{
    height: 150px;
    padding-top: 20px;
}
footer ul{
    text-align: center;
}
footer ul > li{
    display: inline-block;
    margin-right: 30px;
    font-size: 150%;
}
footer ul >li i{
    font-size: 100%;
    margin: 10%;
    padding: 20%;
    color: var(--black);
}

/* Testimonial Page Styling */
.star-wrapper-pos{
    width: 170px;
    height: 90px;
    padding: 1px 50px 0 50px;
    background-color: var(--maroon);
    max-width: 1020px;
    margin: 0px auto;
    margin-top: 10px;
 }
 .star-section h5{
    color: var(--white);
    font-size: 60%;
    margin-top: 12px;
    margin-bottom: 10px;
    margin-left: 1px;
}
.star-section ol{
    list-style-type: none;
    font-weight: bold;
    font-size: 70%;
    margin-left: 2px;
}
.star-section li{
    font-size: 90%;
}
.review_container_pos{
    padding-left: 25px;
    overflow: auto;
    height: 300px;
    width: 250px;
}
.test_title{
    background-color: var(--maroon);
    color: var(--white);
    font-size: 90%;
    max-width: 1020px;
    margin-left: 25px;
    padding-left: 5px;
    width: 265px;
    height: 20%;
    margin-top: 5px;
}
.test_title h3{
    font-size: 90%;
}
.user_review {
    height: 70px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.user_review > p{
    font-style: italic;
    overflow-wrap: break-word;
    font-size: 80%;
}
.user_review footer {
    font-size: 80%;
    padding: 0;
}
.user_review footer > p span {
    font-weight: bold;
}
.testpic {
    position: relative;
    text-align: center;
    display: block;
    margin-top: 30px;
    margin-left: 20px;
    max-width: 180px;
    max-height: 180px;
    padding-bottom: 55px;
    padding-left: 25px;
    margin-top: 10px;
}
.testpic img{
    max-width: 230px;
    max-height: 230px;
}

/* Contact page styling */
.pos-bookingform {
    margin-top: 10px;
    margin-left: 16px;
    color: var(--white);
    background-color: rgba(60, 60, 70, 0.6);
    width: 250px;
    height: 310px;
    padding: 20px;
    border: 3px solid var(--maroon);
}

input[type=text],input[type=email],input[type=date],textarea{
  background: transparent;
  color: var(--white);
  width: 140px;
  height: 25px;
  margin: 5px 0 20px 0;
  border: 1px solid var(--white);
  border-radius: 2px;
}
.form_textarea > textarea {
  height: 55px;
}
input[type=submit], input[type=reset] {
    margin-top: 10px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: var(--maroon);
    color: var(--white);
    display: block;
    font-size: 80%;
    cursor: pointer;
    float:left;
    margin-right: 10px;
}
form label {
    font-size: 70%;
    padding-right: 8px;
    padding-top: 8px;
}

.form_fullname > label{
  padding-right: 35px;
}
.form_email > label {
  padding-right: 58px;
}
.form_date > label{
  padding-right: 5px;
}
.form_textarea > textarea {
  margin-left: 90px;
  height: 35px;
}
/*.basepic */
.basepic img {
    position: relative;
    text-align: center;
    display: block;
    margin-top: 15px;
    margin-left: 38px;
    max-width: 180px;
    max-height: 180px;
}
.basepic {
   padding-left: 25px;
}

/* code below taken from external source and amended to apply to this sites gig event guide on home page
  source site https://www.youtube.com/watch?v=iOrJ63dQ9eE    */
.gig-wrapper {
    padding-top: 10px;
    padding-left: 40px;
    display: flex;
    align-items: center;
}
.gig-wrapper h3{
    height: 40px;
    font-size: 60%;
}
.gig {
    height: 50px;
    overflow: hidden;
}
.gig > div span {
    font-size: 60%;
    padding: 5px 15px;
    height: 40px;
    margin-bottom: 30px;
    display: block;
}
.gig div:first-child{
    animation: slide 8s linear infinite;
}
/* this is the slide frames update */
@keyframes slide{
  0%{
    margin-top: -240px
  }
  5%{
    margin-top: -160px;

  }
  35%{
    margin-top: -160px;
  }
  40%{
    margin-top: -80px;
  }
  65%{
    margin-top: -80px;
  }
  70%{
    margin-top: 0;
  }
  99.99%{
    margin-top: 0;
  }
  100%{
    margin-top: -240px;
  }
}
/* media query for Samsumg S5/S20 to align Star rating section correctly */
@media screen and (min-width: 360px){

    .star-wrapper-pos{
        margin-left: 25px;
    }
}

/* Media query Iphone 6/7/8 view  */
@media screen and (min-width: 375px) and (max-width: 667px){

  .position_header_title {
      width: 360px;
  }
  nav ul {
      width: 375px;
  }
  .burger_menu {
      margin: 0px 38px 35px 35px;
  }
  .band_pic{
      margin-left: 30px;
  }
  .bio {
      margin-left: 70px;
  }
  .bio h4{
      font-size: 85%;
      margin-bottom: 10px;
  }
  .bio p {
      font-size: 75%;
  }
  .bio span{
      font-size: 75%;
  }
  .gig-wrapper {
     padding-left: 70px;
  }
  .gig-wrapper h3{
    font-size: 70%;
  }
  .gig {
    font-size: 120%;
  }
  .ToFindOut{
      padding-left: 55px;
  }
  .ToFindOut p{
    overflow-wrap: break-word;
  }
  .star-wrapper-pos{
        margin-left: 53px;
  }
  .test_title{
      margin-left: 52px;
  }
  .review_container_pos{
      padding-left: 53px;
 }
 .testpic {
     padding-top: 20px;
     margin-left: 40px;
 }
 .pos-bookingform {
     margin-top: 20px;
     margin-left: 45px;
 }
 .basepic {
     margin-top: 20px;
     margin-left: 35px;
     margin-bottom: 20px;
 }

}

/* Media query Ipad view  */
@media screen and (min-width: 768px) and (max-width: 1024px){

 /*Page header styling   */
  .position_header_title {
        padding: 0;
        margin: 5px 0px 5px 0px;
        height: 30px;
        width: 768px;
        text-align: center;
  }
  header h1{
        font-size: 180%;
        padding-top: 5px;
  }

  /* navigation and menu styling */
  nav {
        height: 60px;
        background-color: var(--black);
        text-align: left;
        width: 768px;
  }
  nav ul {
        max-width: 1300px;
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 0px 1px 0px 1px;
        text-align: right;
        width: 768px;
        display: inline-block;
  }
  nav ul > li {
        display: inline-block;
        text-align: center;
        margin-right: 5px;
        width: 75px;
        height: 15px;
        padding-top: 8px;
  }
  nav li > a {
        padding-left: 0px;
        margin-left: 0px;
        font-size: 70%;
  }
  .burger_menu{
        display: none;
  }
  img{
        max-width: 120%;
        max-height: 120%;
  }

  /*Home Page styling   */
  .band_pic img{
        float: left;
        width: 20%;
        padding-left: 45px;
        height: 200px;
        width: 200px;
        object-fit: cover;
        padding-right: 10px;
        padding-top: 20px;
        padding-bottom: 1px;
        margin-bottom: 1px;
  }
   .bio {
        float: left;
        width: 40%;
        padding-left: 80px;
        padding-top: 20px;
   }
   .bio h4{
        font-size: 95%;
   }
   .bio p {
        font-size: 80%;
        margin-bottom: 10px;
   }
   .bio span{
        font-size: 80%;
   }
   .gig div > span {
        font-size: 70%;
   }
   .gig-wrapper {
        display: inline-block;
        padding-left: 10%;
        margin: 0;
        border: 0;
        padding-top: 0;
        padding-bottom: 0;
        height: 50px;
   }
   .gig-wrapper h3{
        font-size: 80%;
        margin-top: 0px;
        height: 15px;
        padding-left: 10px;
   }
   .gig {
        margin-top: 1px;
        margin-bottom: 20px;
   }

   /* Live Sample Page styling */
   iframe {
        height: 100%;
        width: 35%;
   }
   .position-videolist
   {
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 30px;
    }
    .item-video{
        display: inline;
    }
   .ToFindOut{
        padding-left: 40px;
        padding-bottom: 20px;
    }
   .ToFindOut p {
        padding-left: 70px;
        font-size: 70%;
    }

   /* Testimonial Page Styling */
   .star-wrapper-pos{
        margin-top: 50px;
        margin-left: 70px;
   }
   .star-section h5{
        font-size: 70%;
   }
   .star-section ol{
        font-size: 70%;
   }
   .test_title {
        margin-left: 70px;
        width: 630px;
  }
   .review_container_pos{
        float: left;
        padding-left: 10px;
        margin-left: 70px;
        width: 370px;
        margin-bottom: 20px;
    }
   .user_review{
        margin-left: 2px;
   }
    .testpic{
        width: 330px;
        height: 330px;
        float: left;
        margin-top: 10px;
        margin-bottom: 0px;
        padding-top: 0px;
        padding-left: 0px;
        padding-bottom: 0px;
    }

    /* Contact Page Styling*/
    .pos-bookingform {
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 80px;
        width: 300px;
        height: 350px;
        padding-left: 10px;
        padding-top: 10px;
        float: left;
   }
    .basepic{
        float: left;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
        padding-top: 5px;
        padding-bottom: 0px;
        padding-left: 0px;
    }
    .basepic img{
        max-width: 250px;
        max-height: 250px;
    }


    /* Footer Page Styling  */
    footer{
        clear: both;
        padding-top: 1px;
        margin-top: 1px;
   }
   footer ul > li{
        display: inline-block;
        margin-right: 50px;
   }
   footer ul >li i{
        font-size: 100%;
   }


}

/* Media query Android 8inch Tablet Asus ZenPad z380 1280 x 800 IPS */
@media screen and (min-width: 800px) and (max-width: 1280px){
    .position_header_title {
        width: 950px;
    }
     nav {
        width: 950px;
     }
    .band_pic{
      margin-left: 10px;
    }
   .bio {
      margin-left: 10px;
    }
}

@media screen and (min-width: 1025px){

    /*Page header Styling  */
    .position_header_title {
        padding: 15px;
        width: 1520px;
        text-align: center;
        padding-top: 8px;
    }
    header h1 {
        font-size: 240%;
        padding-top: 0;
        margin-top: 0;
        margin-bottom: 0;
        padding-bottom: 0;
        letter-spacing: 2px;
        margin-bottom: 20px;
        padding-bottom: 10px;
    }
    nav {
          height: 55px;
          background-color: var(--black);
          width: 1535px;
    }
    nav ul {
      max-width: 1450px;
      margin-top: 10px;
      margin-bottom: 10px;
      padding: 0px 1px 0px 1px;
      text-align: right;
      width: 1535px;
      display: inline-block;
    }
    nav ul > li {
          display: inline-block;
          text-align: center;
          margin-right: 5px;
          width: 120px;
          height: 8px;
          padding-top: 5px;
          padding-bottom: 21px;
    }
    nav li > a {
          font-size: 79%;
          margin-bottom: 5px;
          height: 40px;
          letter-spacing: 2px;
    }
    .burger_menu{
        display: none;
    }

    img{
        max-width: 120%;
        max-height: 120%;
        display: block;
    }

    /*Home Page Styling  */
    .bio {
        float: left;
        width: 550px;
        margin-top: 55px;
        padding-left: 110px;
    }
    .bio h4{
        margin-bottom: 10px;
        font-size: 120%;
    }
    .bio p {
        font-size: 100%;
        margin-bottom: 10px;
    }
    .bio div p {
        font-size: 100%;
    }
    .bio span{
    font-size: 100%;
    }
    .band_pic img{
        float: left;
        max-height: 400px;
        max-width: 400px;
        padding-left: 160px;
        object-fit: cover;
        border-right: 10px;
        padding-bottom: 50px;
        padding-right: 75px;
        margin-top: 55px;
    }
    .gig-wrapper{
       padding-top: 1px;
       padding-left: 195px;
       clear: both;
       padding-bottom: 50px;
   }
    .gig div > span {
      font-size: 100%;
   }
   .gig-wrapper h3 {
      font-size: 100%;
    }

    /* Live Samples Page Styling  */
    iframe {
       width: 360px;
   }
   .position-videolist
   {
       padding-left: 220px;
       padding-right: 220px;
   }
   .item-video{
       display: inline;
   }
   .ToFindOut p {
     padding-left: 150px;

     margin-left: 200px;

     font-size: 100%;
   }

   /* Footer Page Styling   */
    footer{
       clear: both;
   }
   footer ul > li{
       display: inline-block;
       margin-right: 50px;
   }
   footer ul >li i{
       font-size: 120%;
   }

    /* Testimonial Page Styling  */
    .star-wrapper-pos{
       max-width: 1020px;
       margin: 0px auto;
       padding: 5px 20px;
       width: 20%;
       margin-top: 15px;
   }
   .star-section h5{
       margin-top: 15px;
   }
   .star-section ol{
     font-size: 90%;
   }
   .star-section li{
     font-size: 90%;
   }
   .star-section i{
       font-size: 90%;
   }
   .test_title{
       padding-top: 10px;
       padding-bottom: 0px;
       width: 960px;
       height: 25px;
       padding-left: 20px;
       margin-left: 270px;
   }
   .review_container_pos{
       float: left;
       width: 590px;
       padding-left: 270px;
       padding-right: 20px;
   }
   .user_review {
     padding: 0;
   }
   .user_review > p{
     font-size: 90%;
     overflow-wrap: break-word;
   }
   .user_review footer {
     font-size: 90%;
     padding: 0;
   }
   .testpic{
       width: 175px;
       height: 175px;
       float: left;
       margin-top: 1px;
       margin-bottom: 0px;
       padding-top: 0px;
       padding-left: 30px;
       padding-bottom: 0px;
   }
   .testpic img{
        max-width: 320px;
        max-height: 320px;
   }
   /*Contact Page Styling  */
   .pos-bookingform {
       margin-top: 20px;
       margin-bottom: 20px;
       margin-left: 350px;
       width: 380px;
       height: 400px;
       padding: 20px;
       padding-top: 40px;
       float: left;
   }
   input[type=text],input[type=email],input[type=date],textarea{
     background: transparent;
     width: 50%;
     height: 25px;
     margin: 5px 0 20px 0;
   }
   .pos-bookingform h3 {
     padding-bottom: 30px;
   }
   form label {
       font-size: 90%;
   }
   .form_fullname > label{
     padding-right: 50px;
   }
   .form_email > label {
     padding-right: 80px;
   }
   .form_date > label{
     padding-right: 10px;
   }
   .form_textarea > textarea {
     margin-left: 120px;
     height: 65px;
   }
   .basepic{
       width: 175px;
       height: 175px;
       float: left;
       margin-top: 0px;
       margin-bottom: 0px;
       padding-top: 10px;
       padding-left: 30px;
       padding-bottom: 0px;
       margin-left: 80px;
   }
   .basepic img{
       max-width: 375px;
       max-height: 375px;
   }
}
/* media query for external 21inch Samsung monitor*/
@media screen and (min-width: 1280px){

  .band_pic img{
      max-height: 300px;
      max-width: 300px;
  }
  nav {
        height: 55px;
        width: 1550px;
  }
  nav ul {
    max-width: 1260px;
  }
  .ToFindOut p {
     margin-left: 350px;
     padding-left: 10px;
  }
}
@media screen and (min-width: 1600px){

  .band_pic img{
      max-height: 200px;
      max-width: 200px;
      padding-left: 100px;
  }
  .band_pic{
      padding-left: 80px;
  }
  .bio {
      padding-left: 50px;
  }
}
